---
permalink: /about/
title: About
layout: default.liquid
data:
  route: about
---

<style>
	.about-container { background-color: var(--light-color); height: 100vh; display: flex; justify-content: center; align-items: center;}
	.about-container h1 { font-size: 7rem; font-family: var(--ff-titles);}
</style>

	<div class="about-container">
		<h1>About</h1>
	</div>	

