---
permalink: /
title: Ailen Grimaldi
layout: default.liquid
data:
  route: home
---
<style>
main { display: flex; flex-direction: column; position: relative; top: var(--nav-height); }
section { background-color: var(--dark-color); padding: clamp(2rem, 3vw, 5rem); display: flex; justify-content: center; align-items: center; flex-direction: column; }
#home h2 { font-size: clamp(5rem, 6vw, 7rem); font-family: var(--ff-titles); color: var(--brand-color); }
#home h3 { font-size: clamp(2rem, 3vw, 4rem); font-family: var(--ff-secondary); color: var(--light-color); text-align: center; }
</style>
<main>
<section id="home">
	<h2>Hello</h2>
	<h3>Hey! My name is Ailen and I'm a FullStack Web Developer this is my done-with-plenty-of-love website, I hope you like it:).</h3>
<section>

</main>