---
permalink: /projects/
title: Projects
layout: default.liquid
data:
  route: projects
---
<style>
	.projects-container { background-color: var(--light-color); height: 100vh; display: flex; justify-content: center; align-items: center;}
	.projects-container h1 { font-size: 7rem; font-family: var(--ff-titles);}
</style>

	<div class="projects-container">
		<h1>Projects</h1>
	</div>	

