---
permalink: /services/
title: Services
layout: default.liquid
data:
  route: services
---
<style>
	.services-container { background-color: var(--light-color); height: 100vh; display: flex; justify-content: center; align-items: center;}
	.services-container h1 { font-size: 7rem; font-family: var(--ff-titles);}
</style>

	<div class="services-container">
		<h1>Services</h1>
	</div>	

